[data-droppable='true'] {
    display: block;
    width: 100%;
}

[data-draggable] {
    box-shadow: var(--flyout-shadow);
    background-color: var(--main-bg-color);

    &,
    div {
        position: relative;
    }
}
